<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Solutions that innovate</h1>
            <hr>
            <p>Qwik.io can help you build a better business using current technology and systems!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

